<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>

        <!-- LOG everything at INFO level -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="com.coach.flame.testing.framework.JsonBuilder" level="DEBUG"/>
        <Logger name="com.coach.flame.testing.integration.base.SQLClean" level="DEBUG"/>
        <Logger name="com.coach.flame" level="INFO"/>
        <Logger name="org.springframework" level="INFO"/>
    </Loggers>

</Configuration>
